*
!user/
user/*
!user/src/
!user/src/**

!screen/
screen/*
!screen/src/
!screen/src/**

!payment/
payment/*
!payment/src/
!payment/src/**

!gateway/
gateway/*
!gateway/src/
!gateway/src/**

!myPage/
myPage/*
!myPage/src/
!myPage/src/**

!flightReservation/
flightReservation/*
!flightReservation/src/
!flightReservation/src/**
flightReservation/src/test


!lodging/
lodging/*
!lodging/src/
!lodging/src/**