*
!user/
user/*
!user/src/
!user/src/**
!user/pom.xml

!flight/
flight/*
!flight/src/
!flight/src/**
!flight/pom.xml

!payment/
payment/*
!payment/src/
!payment/src/**
!payment/pom.xml

!gateway/
gateway/*
!gateway/src/
!gateway/src/**
!gateway/pom.xml

!myPage/
myPage/*
!myPage/src/
!myPage/src/**
!myPage/pom.xml

!flightReservation/
flightReservation/*
!flightReservation/src/
!flightReservation/src/**
!flightReservation/pom.xml

!lodging/
lodging/*
!lodging/src/
!lodging/src/**
!lodging/pom.xml